<form action="/register" method="post">
    <input type="text" name="name" placeholder="username" autocomplete="off" required>
    <input type="email" name="username" placeholder="email" autocomplete="off" required>
    <input type="password" name="password" placeholder="password" autocomplete="off" required>
    <input type="submit" value="Register">
</form>

have an account? <a href="/login">Login</a>